body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 50px auto 0;
}

.news {
  position: relative;
}
.show-more {
  font-size: 1.3rem;
  color: tomato;
  cursor: pointer;
}
.news-title {
  background: lightblue;
  padding: 1rem 0;
  margin: 0;
  text-align: center;
  cursor: hover;
}
.tooltip-date {
  font-size: 1.3rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  color: tomato;
}

.content {
  background: #e2e2e2;
  padding: 0.5rem 1rem;
  margin: 0;
}

.user {
  position: relative;
  min-width: 150px;
  background: lightblue;
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  margin-top: 50px;
  margin-right: 10px;
  text-align: center;
}
.statusList {
  background: #eee;
  padding: 5px;
  margin: 5px 0;
}
.top-tooltip {
  position: absolute;
  top: -10px;
  width: 80%;
  background: #666;
  color: white;
  text-align: center;
}
